{{ define "main" }}
<section class="">
    <div class="">
        <div class="container">
            <h1 class="h1">Portfolio</h1>
            <p>
                View some of my published projects
            </p>
            <div class="">
                {{ range .Pages }}
                <div class="measure--md">
                    <h2 class="h2">
                        <a href="{{ .Params.link }}" class="anchor" rel="noreferrer" target="_blank">
                            {{ .Title }}
                        </a>
                    </h2>
                    <figure class="">
                        <a href="{{ .Params.link }}" class="" rel="noreferrer" target="_blank">
                            <img src="{{ .Params.image.source }}" alt="{{ .Params.image.alt }}" class="card" width="200px">
                        </a>
                    </figure>
                    <p>
                        {{ .Summary }}
                    </p>
                </div>
                {{ end }}
            </ul>
        </div>
    </div>
    {{ partial "sidebar.html" . }}
</div>
{{ end }}