@import "normalize";
@import "variables";
@import "extends";




/*--------------------------------- $GENERAL */

:root {
  --blue-100: hsla(196, 65%, 15%, 100%);
  --blue-200: hsla(196, 65%, 25%, 100%);
  --blue-300: hsla(196, 65%, 35%, 100%);
  --blue-400: hsla(196, 65%, 45%, 100%);
  --blue-500: hsla(196, 65%, 55%, 100%);
  --blue-600: hsla(196, 65%, 65%, 100%);
  --blue-700: hsla(196, 66%, 75%, 100%);
  --blue-800: hsla(196, 65%, 85%, 100%);
  --blue-900: hsla(196, 65%, 95%, 100%);
  --pink-100: hsla(320, 60%, 10%, 100%);
  --pink-200: hsla(320, 60%, 20%, 100%);
  --pink-300: hsla(320, 60%, 30%, 100%);
  --pink-400: hsla(320, 60%, 40%, 100%);
  --pink-500: hsla(320, 60%, 50%, 100%);
  --pink-600: hsla(320, 60%, 60%, 100%);
  --pink-700: hsla(320, 60%, 70%, 100%);
  --pink-800: hsla(320, 60%, 80%, 100%);
  --pink-900: hsla(320, 60%, 90%, 100%);
  --light-100: hsla(196, 2%, 72%, 100%);
  --light-200: hsla(196, 2%, 75%, 100%);
  --light-300: hsla(196, 2%, 77%, 100%);
  --light-400: hsla(196, 2%, 80%, 100%);
  --light-500: hsla(196, 2%, 82%, 100%);
  --light-600: hsla(196, 2%, 87%, 100%);
  --light-700: hsla(196, 2%, 90%, 100%);
  --light-800: hsla(196, 2%, 92%, 100%);
  --light-900: hsla(196, 2%, 95%, 100%);
  --dark-100: hsla(240, 15%, 15%, 100%);
  --dark-200: hsla(240, 15%, 17%, 100%);
  --dark-300: hsla(240, 15%, 20%, 100%);
  --dark-400: hsla(240, 15%, 23%, 100%);
  --dark-500: hsla(240, 15%, 25%, 100%);
  --dark-600: hsla(240, 15%, 27%, 100%);
  --dark-700: hsla(240, 15%, 30%, 100%);
  --dark-800: hsla(240, 15%, 32%, 100%);
  --dark-900: hsla(240, 15%, 35%, 100%);
  --slate-100: hsla(240, 30%, 30%, 100%);
  --slate-200: hsla(240, 30%, 35%, 100%);
  --slate-300: hsla(240, 30%, 40%, 100%);
  --slate-400: hsla(240, 30%, 45%, 100%);
  --slate-500: hsla(240, 30%, 50%, 100%);
  --slate-600: hsla(240, 30%, 55%, 100%);
  --slate-700: hsla(240, 30%, 60%, 100%);
  --slate-800: hsla(240, 30%, 65%, 100%);
  --slate-900: hsla(240, 30%, 70%, 100%);
  --theme-color: var(--blue-600);
  --theme-color-muted: var(--blue-300);
  --accent-color: var(--pink-600);
  --accent-color-muted: var(--pink-300);
  --background-color: var(--light-800);
  --font-color: var(--dark-700);
  --font-color-muted: var(--dark-900); 
  --slate: var(--slate-900);
  --switch-width: 64px;
  --switch-height: 32px;
  --switch-padding: 3px;
  --switch-animation-duration: 0.2s;
}

[data-theme="dark"] {
  --purple-100: hsla(250, 64%, 13%, 100%);
  --purple-200: hsla(250, 64%, 23%, 100%);
  --purple-300: hsla(250, 64%, 33%, 100%);
  --purple-400: hsla(250, 64%, 43%, 100%);
  --purple-500: hsla(250, 64%, 53%, 100%);
  --purple-600: hsla(250, 64%, 63%, 100%);
  --purple-700: hsla(250, 64%, 73%, 100%);
  --purple-800: hsla(250, 64%, 83%, 100%);
  --purple-900: hsla(250, 64%, 93%, 100%);
  --pink-100: hsla(330, 77%, 13%, 100%);
  --pink-200: hsla(330, 77%, 23%, 100%);
  --pink-300: hsla(330, 77%, 33%, 100%);
  --pink-400: hsla(330, 77%, 43%, 100%);
  --pink-500: hsla(330, 77%, 53%, 100%);
  --pink-600: hsla(330, 77%, 63%, 100%);
  --pink-700: hsla(330, 77%, 73%, 100%);
  --pink-900: hsla(330, 77%, 83%, 100%);
  --pink-900: hsla(330, 77%, 93%, 100%);
  --light-100: hsla(250, 2%, 72%, 100%);
  --light-200: hsla(250, 2%, 75%, 100%);
  --light-300: hsla(250, 2%, 77%, 100%);
  --light-400: hsla(250, 2%, 80%, 100%);
  --light-500: hsla(250, 2%, 82%, 100%);
  --light-600: hsla(250, 2%, 87%, 100%);
  --light-700: hsla(250, 2%, 90%, 100%);
  --light-800: hsla(250, 2%, 92%, 100%);
  --light-900: hsla(250, 2%, 95%, 100%);
  --dark-100: hsla(250, 15%, 15%, 100%);
  --dark-200: hsla(250, 15%, 17%, 100%);
  --dark-300: hsla(250, 15%, 20%, 100%);
  --dark-400: hsla(250, 15%, 23%, 100%);
  --dark-500: hsla(250, 15%, 25%, 100%);
  --dark-600: hsla(250, 15%, 27%, 100%);
  --dark-700: hsla(250, 15%, 30%, 100%);
  --dark-800: hsla(250, 15%, 32%, 100%);
  --dark-900: hsla(250, 15%, 35%, 100%);
  --slate-100: hsla(240, 30%, 30%, 100%);
  --slate-200: hsla(240, 30%, 35%, 100%);
  --slate-300: hsla(240, 30%, 40%, 100%);
  --slate-400: hsla(240, 30%, 45%, 100%);
  --slate-500: hsla(240, 30%, 50%, 100%);
  --slate-600: hsla(240, 30%, 55%, 100%);
  --slate-700: hsla(240, 30%, 60%, 100%);
  --slate-800: hsla(240, 30%, 65%, 100%);
  --slate-900: hsla(240, 30%, 70%, 100%);
  --theme-color: var(--purple-400);
  --theme-color-muted: var(--purple-200);
  --accent-color: var(--pink-400);
  --accent-color-muted: var(--pink-200);
  --background-color: var(--dark-100);
  --font-color: var(--light-800);
  --font-color-muted: var(--light-600); 
  --slate: var(--slate-300);
  --switch-width: 64px;
  --switch-height: 32px;
  --switch-padding: 3px;
  --switch-animation-duration: 0.2s;

  .bg-triangles-grad {
    background-image: 
      linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url("/assets/images/pink_blue_gradient_dark.svg");
    background-position: center;
    background-size: cover;
  }
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: $main-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: var(--font-color);
  background-color: var(--background-color);
  font-weight: 400;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  flex: 1 0 0;
  
  @media #{$mq-medium} {
    font-size: $base-font-size*1.2;
    line-height: $base-line-height*1.2;
  }
  
  @media #{$mq-large} {
    font-size: $base-font-size*1.3;
  }
  
  @media #{$mq-xlarge} {
    font-size: $base-font-size*1.4;
  }
  
  @media #{$mq-xxlarge} {
    font-size: $base-font-size*1.6;
  }
}

main {
  flex: 1 0 0;
}

hr {
  border-bottom: 2px solid var(--font-color);
  margin: 3rem 0;
}





/* ------------------------------------- $TYPOGRAPHY */

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4 {
  font-family: Lato, sans-serif;
  font-weight: 700;
  line-height: $header-line-height;
  margin: 1.5rem 0 0.75rem;

  &:first-child {
    margin-top: 3rem;
  }

  & + h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4 {
    margin-top: 1.15rem;
  }
}

h1, .h1 {
  font-size: 3rem;
  font-weight: 500;
  font-family: Solway, sans-serif;
}

h2, .h2 {
  font-size: 2.25rem;
}

h3, .h3 {
  font-size: 1.5rem;
}

h4, .h4 {
  font-size: 1.25rem;
}

.measure--sm {
  max-width: 45ch;
}

.measure--md {
  max-width: 60ch;
}

.measure--lg {
  max-width: 80ch;
}

.site-title {
  font-weight: 900;
  font-size: 2rem;
  font-family: Solway, sans-serif;
}

strong {
  font-weight: 900;
}

/* -------------------------------------- $LINKS */

.anchor {
  color: var(--font-color);

  &:visited {
    color: var(--font-color-muted);
  }
  
  &:hover,
  &:active,
  &:focus {
    color: var(--main-bg);
    background-color: var(--theme-color);
  }
}

.anchor--button {
  display: inline-block;
  color: var(--font-color);
  border: 4px solid var(--font-color);
  padding: 0.5rem 0.75rem;
  margin: 0.25rem 0;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;

  &:visited {
    color: var(--font-color);
  }

  &:active,
  &:focus,
  &:hover {
    background-color: var(--theme-color);
    color: var(--main-bg);
  }
}

.header-link {
  display: block;
  color: var(--font-color);
  position: relative;
  
  &:active,
  &:focus,
  &:hover {
    color: var(--theme-color);
  }
}

.header-link:before{
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: -0.5rem;
  z-index: -1;
  transition: 0.3s ease-in;
  height: 0%;
}

.header-link:hover:before {
  height: 125%;
  width: 105%;
  border-radius: 5px;
  background-color: var(--font-color);
  background-clip: border-box;
}

.no-style-link {
  text-decoration: none;
  &:link,
  &:visited {
    display: inline;
    color: inherit;
    background-color: transparent;
    text-decoration: none;
    padding: 0;
    margin: 0;
  }
  &:hover,
  &:focus,
  &:active {
    border: none;
  }
}




/* ------------------------------ $CONTAINERS */

.container {
  margin: 0 4%;
  
  @media #{$mq-medium} {
    margin: 0 8%;
  }
  
  @media #{$mq-large} {
    margin: 0 16%;
  }
  
  @media #{$mq-xlarge} {
    margin: 0 20%;
  }
}

.flex-container {
  display: flex;
  flex-flow: column nowrap;
  
  @media #{$mq-medium} {
    flex-flow: row wrap;
  }
  
  @media #{$mq-xlarge} {
  }
}

.flex-item {
  flex: 1 1 0;
}

.flex-item--center {
  justify-content: center;
  justify-self: flex-end;
  flex: 1 1 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  
  @media #{$mq-small} {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  
  @media #{$mq-large} {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

.grid-item-side {
  grid-area: 2 / 1 / 3 / 2;
  
  @media #{$mq-small} {
    grid-area: 1 / 4 / 3 / 5;
  }
  
  @media #{$mq-large} {
    grid-area: 1 / 5 / 3 / 6;
  }
}

.grid-item-main {
  grid-area: 1 / 1 / 2 / 2;
  
  @media #{$mq-small} {
    grid-area: 1 / 1 / 2 / 4;
  }
  
  @media #{$mq-large} {
    grid-area: 1 / 1 / 2 / 5;
  }
}

.container-inner {
  margin: 0 4%;
  
  @media #{$mq-large} {
    margin: 0 8%;
  }
  
  @media #{$mq-xlarge} {
    margin: 0 10%;
  }
}




/*----------------------------- $NAVIGATION */

.navbar {
  
  @media #{$mq-small} {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }
}

/* allows for toggling visibility of menu through script.js
.menu-toggler {
  display: none;
}

.js .menu-toggler {
  position: absolute;
  right: 10px;
  top: 7.5px;
  display: block;
  text-decoration: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--main-bg);
  
  &:hover,
  &:active,
  &:focus {
    color: var(--theme-color);
  }
  
  @media #{$mq-small} {
    display: none;
  }
}

.js .nav-content {
  display: none;
  transition: 0.5s ease-in-out;
  
  @media #{$mq-small} {
    display: block;
  }
}

.js .show {
  display: block
}

.shrink {
  width: 40%;
  margin: 0 auto;
  border-radius: 20px;
  border-top: 5px solid var(--theme-color);
  opacity: 0.95;
  box-shadow: 1px 4px 5px rgba(0,0,0,0.4);
}
*/

.nav-links {
  list-style: none;
  padding: 0;
  
  @media #{$mq-small} {
    display: flex;
    flex-flow: row nowrap;
  }
}

.nav-link {
  color: var(--font-color);
  text-decoration: none;
  display: block;
  padding: 0.75rem;
  margin: 0.5rem 0;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  font-weight: bold;
  font-family: Lato, sans-serif;
  border-bottom: 4px solid var(--font-color);
  
  &:hover,
  &:active {
    color: var(--accent-color);
    border-bottom: 4px solid var(--accent-color);
  }
  
  @media #{$mq-small} {
    padding: 0 0.75rem;
    margin: 0 0.5rem;
  }
}




/* ---------------------------------- $FOOTER */

footer {
  @extend %flex-center;
}






/* ------------------------------ $UTILITIES */

.active {
  color: var(--accent-color);
  border-bottom: 4px solid var(--accent-color);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.color-main {
  color: var(--theme-color);
}

.color-accent {
  color: var(--accent-color);
}

.font-color-muted {
  color: var(--font-color-muted);
}

.border-bottom {
  border-bottom: 4px solid var(--theme-color);
}

.border-bottom-accent {
  border-bottom: 4px solid var(--accent-color);
}

.border-left {
  border-left: 4px solid var(--theme-color);
}

.border-left-sm {
  
  @media #{$mq-small} {
    border-left: 4px solid var(--main-color-bright);
  }
}

.border-left-accent {
  border-left: 0.25rem solid var(--accent-color);
}

.bg-main {
  background-color: var(--theme-color);
}

.bg-accent {
  background-color: var(--accent-color);
}

.bg-main-muted {
  background-color: var(--theme-color-muted);
}

.bg-slate {
  background-color: var(--slate);
}

.bg-dark {
  background-color: var(--accent-bg);
  color: var(--main-bg);
}

.bg-triangles-grad {
  background-image: url("/assets/images/pink_blue_gradient.svg");
  background-position: center;
  background-size: cover;
}

.bg-triangles {
  background-image: url("/assets/images/pink_blue_background.svg");
  background-position: center;
  background-size: cover;
}

.card {
  border-radius: 5px;
  box-shadow: 1px 2px 4px rgba(0,0,0,0.2), 0px 0px 7px rgba(0, 0, 0, 0.2);

  > h1, h2, h3, h4, h5, h6 {
    &:first-child {
      margin-top: 1.5rem;
    }
  }
}

.card__border-image {
  position: absolute;
  width: 150px;
  top: -115px;
  right: -50px;

  @media #{$mq-medium} {
    width: 200px;
    top: -150px;
    right: 50px;
  }

}

.list-group {
  list-style: none;
  padding: 0;
}

.position-relative {
  position: relative;
}

.sticky-sm {
  
  @media #{$mq-small} {
    position: sticky;
    top: 0;
  }
}

.thumb {
  box-shadow: 1px 2px 4px rgba(0,0,0,0.2), 0px 0px 7px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.margin-top--sm {
  margin-top: 0.75rem;
}

.margin-top--lg {
  margin-top: 3rem;
}

.padding--sm {
  padding: 0.5rem;
}

.padding--lg {
  padding: 1.5rem;

  @media #{$mq-medium} {
    padding: 3rem;
  }
}

/* -------------------------------- 

File#: _1_switch
Title: Switch
Descr: Custom ON/OFF checkbox toggle
Usage: codyhouse.co/license

-------------------------------- */

.switch {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  position: relative;
  width: var(--switch-width);
  height: var(--switch-height);
  border-radius: 50em;
  padding: var(--switch-padding) 0;
  margin: 1.5rem 0;

  @media #{$mq-medium} {
    margin: 0 0.75rem;
  }
}

.switch__input, .switch__label {
  position: absolute;
  left: 0;
  top: 0;
}

.switch__input {
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 0;
  width: 0;
  pointer-events: none;
  
  &:checked + .switch__label {
    background-color: var(--theme-color);
  }
  
  &:checked + .switch__label + .switch__marker {
    left: calc(100% - var(--switch-height) + var(--switch-padding));
  }
  
  &:focus + .switch__label,
  &:active + .switch__label {
    box-shadow: 0 0 0 3px alpha(0.2);
  }
}

.switch__label {
  width: 100%;
  height: 100%;
  color: transparent;
  user-select: none;
  background-color: var(--theme-color);
  border-radius: inherit;
  z-index: 1;
  transition: background var(--switch-animation-duration);
}

.switch__marker {
  position: relative;
  z-index: 2;
  pointer-events: none;
  left: var(--switch-padding);
  transition: left var(--switch-animation-duration);
  will-change: left;
}

.form-label {
  display: none;
}

.form-control {
  color: var(--font-color);
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 4px solid var(--font-color);
  padding: 0.25rem;
  margin: 0.75rem 0;
  width: 100%;
  resize: none;
}

.form-control[type="submit"] {
  border: 4px solid var(--font-color);
  padding: 0.75rem;
  cursor: pointer;
  font-weight: 600;
}

.form-control::placeholder {
  color: var(--font-color); 
  opacity: 0.7;
}

.form-control {
  &:hover, &:focus {
    background-color: var(--theme-color);
    color: var(--main-bg);
  }
}
.stack {
  --space: 4.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack > * {
  margin-top: 0;
  margin-bottom: 0;
} 

.stack > * + * {
  margin-top: var(--space);
}