<nav class="navbar   container">
    <ul class="nav-links">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <li class="">
            <a href="{{ .URL }}" class="{{ if ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}active {{ end }}nav-link">
                {{ .Name }}{{ if ($currentPage.IsMenuCurrent "main" . ) ($currentPage.HasMenuCurrent "main" .) }}<span class="sr-only">(current)</span>{{ end }}
            </a>
        </li>
        {{ end }}
    </ul>
    <div class="position-relative">
        <button class="switch" id="themeSwitch" aria-pressed="false">
            <i class="fas fa-moon"></i> 
            Toggle Dark Theme
        </button>
        <button class="switch" id="colorSwitch" aria-expanded="false">
            <i class="fas fa-brush"></i>
            Choose Theme Color
        </button>
        <ul class="list-group   collapsible    bg-main   card" hidden>
            <li>
                <button class="switch    orange-hue">
                   Orange 
                </button>
            </li>
            <li>
                <button class="switch    blue-hue">
                    Blue 
                </button>
            </li>
            <li>
                <button class="switch    pink-hue">
                   Pink 
                </button>
            </li>
        </ul>
        
    </div>
</nav>