{{ define "main" }}
<section class="">
    <div class="">
        <div class="container    stack">
            <div class="measure--md    card     padding--lg     bg-main    margin-top--lg">
                <h1>
                    Hello, world!
                </h1>
                <p>
                    I am a freelance web designer and developer specializing in fast, accessible, and mobile-friendly websites.
                </p>
                <p>
                    I am currently available to work on new projects. 
                </p>
                <a href="#contact" class="anchor--button">Hire me!</a>
            </div>
            <div class="">
                <h1>
                    My latest projects
                </h1>
                <div class="flex-container">
                    {{ range first 2 (where .Pages "Section" "portfolio").ByDate.Reverse }}
                    <div class="flex-item   measure--md">
                        <h2 class="">
                            <a href="{{ .Params.link }}" class="anchor" rel="noreferrer" target="_blank">
                                {{ .Title }}
                            </a>
                        </h2>
                        <figure class="">
                            <a href="{{ .Params.link }}" class="" rel="noreferrer" target="_blank">
                                <img src="{{ .Params.image.source }}" alt="{{ .Params.image.alt }}" class="card" width="100%">
                            </a>
                            <figcatpion>
                                {{ .Summary }}
                            </figcatpion>
                        </figure>
                    </div>
                    {{ end }}
                </div>
                <a href="/portfolio/" class="anchor--button">View my full portfolio</a>
            </div>
            <div>
                <h1>Latest posts</h1>
                <div class="flex-container">
                    {{ range first 2 (where .Pages "Section" "posts").ByPublishDate.Reverse }}
                    <div class="flex-item   measure--md    padding-x--lg">
                        <h2>
                            <a href="{{ .RelPermalink }}" class="anchor">
                                {{ .Title | markdownify }}
                            </a>
                        </h2>
                        <p class="font-color-muted   margin-top--sm">
                            <em>
                                <small>posted on </small>
                                <strong>{{ .Date.Format "January 2, 2006" }}</strong>
                                <small>by</small>
                                <strong>{{ .Page.Params.author }}</strong>
                            </em>
                        </p>
                        {{ .Summary | markdownify }}
                        <a href="{{ .RelPermalink }}" class="anchor--button">Read more</a>
                    </div>
                    {{ end }}
                </div>
            </div>
            <div class="flex-container     card     bg-main    padding--lg    margin-top--lg    measure--md">
                <div class="flex-item   position-relative">
                    <h1>About me</h1>
                    <p>
                        I began developing the web during an undergraduate class on human factors.
                    </p>
                    <p>
                        This class taught me the basics of HTML & CSS and, more importantly, stressed the need for accessible, semantic websites for users, clients, and developers.
                    </p>
                    <p>
                        I am queer and trans and love working with other queer and trans folks, as well as POC, sex workers, and activists.
                    </p>
                    <h2 class="h2">My skills</h2>
                    <p>
                        I am familiar with
                    </p>
                    <ul class="">
                        <li class="">Advanced HTML & CSS/SCSS</li>
                        <li class="">Static site generators such as:</li>
                        <ul>
                            <li>Jekyll</li>
                            <li>Hugo</li>
                            <li>Eleventy</li>
                        </ul>
                        <li class="">Crafting content, including:</li>
                        <ul>
                            <li>Writing</li>
                            <li>Basic graphic & logo design</li>
                            <li>Color-schemes & typography</li>
                        </ul>
                        <li class="">Vanilla Javascript</li>
                    </ul>
                    <p>
                        Please <a href="#contact" class="anchor">contact me</a> if you'd like to hire me to work on a project.
                    </p>
                    <figure class="card__border-image">
                        <img src="/assets/images/head-shot.jpeg" class="thumb" width="100%" alt="A head shot of Laura.">
                    </figure>
                </div>
            </div>
        </div>
    </div>
    {{ partial "sidebar.html" . }}
</section>
{{ end }}